{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Front Screen</title>
    <link rel="stylesheet"  href="{% static './lmsapp/firstpage.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?
     family=Alfa+Slab+One+Sans">
</head>
<body>

 <div class="container">
         <a href="login" target="blank">
            <button class="btn btn1 " >LOGIN HERE  </button>
         </a>


    </div>

</body>
</html>