{% load static %}
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Payment</title>
	<link rel="stylesheet"  href="{% static './lmsapp/payment.css' %}">
</head>
<body>
<header>
	<div class="container">

		<div class="center">
			<h3>PAYMENT</h3>
			<form>
				Accepted Card <br>
				<img src="{%static './lmsapp/card1.png'%}" width="100">
				<img src="{%static './lmsapp/card2.png'%}" width="50">
				<br><br>

				Credit card number
			<input type="text" name="" placeholder="Enter card number" onkeypress="return isNumberKey(event,this)" >

				Exp month
				<input type="text" name="" placeholder="Enter Month">
				<div id="zip">
					<label>
						Exp year
						<select>
							<option>Choose Year..</option>
							<option>2022</option>
							<option>2023</option>
							<option>2024</option>
							<option>2025</option>
						</select>
					</label>
						<label>
						CVV
						<input type="number" name="" placeholder="CVV">
					</label>
				</div>
			</form>
			<input type="submit" name="" value="Proceed to Checkout">
		</div>
	</div>
</header>

<script type="text/javascript">

        function isNumberKey(evt, obj) {

            var charCode = (evt.which) ? evt.which : event.keyCode
            var value = obj.value;
            var dotcontains = value.indexOf(".") != -1;
            if (dotcontains)
                if (charCode == 46) return false;
            if (charCode == 46) return true;
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }



</script>
</body>
</html>